USE [DB_BUENISIMO]
GO
/****** Object:  Table [dbo].[tbAsistencias]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAsistencias](
	[idAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
	[idObservacionAsistencia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[horaEntrada] [datetime] NULL,
	[horaSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategorias]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[idTipoProducto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDesechosInsumos]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDesechosInsumos](
	[idDesechoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NULL,
	[idInsumo] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[fechaDesecho] [date] NOT NULL,
	[motivo] [varchar](100) NOT NULL,
	[observaciones] [text] NULL,
	[idIngresoInsumo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDesechoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHorarios]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHorarios](
	[idHorario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[diaSemana] [tinyint] NOT NULL,
	[horaEntradaEsperada] [time](7) NOT NULL,
	[horaSalidaEsperada] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbIngresosInsumos]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbIngresosInsumos](
	[idIngresoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NULL,
	[idInsumo] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[fechaVencimiento] [date] NULL,
	[idProveedor] [int] NULL,
	[lote] [varchar](50) NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idIngresoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbInsumos]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbInsumos](
	[idInsumo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[tipoInsumo] [varchar](50) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMedidas]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMedidas](
	[idMedida] [int] IDENTITY(1,1) NOT NULL,
	[idTipoMedida] [int] NULL,
	[nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbObservacionesAsistencias]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbObservacionesAsistencias](
	[idObservacionAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idObservacionAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPrecios]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPrecios](
	[IdPrecio] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[IdMedida] [int] NULL,
	[Precio] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrecio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProductos]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProductos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[idCategoria] [int] NULL,
	[idTipoMedida] [int] NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProveedores]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombreEmpresa] [varchar](100) NOT NULL,
	[contacto] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRoles]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSucursales]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSucursales](
	[idSucursal] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTiposMedidas]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposMedidas](
	[idTipoMedida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTiposProductos]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposProductos](
	[idTipoProducto] [int] NOT NULL,
	[nombre] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUnidades]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUnidades](
	[idUnidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[abreviatura] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarios]    Script Date: 07/05/2025 01:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[apellido] [nvarchar](100) NULL,
	[correoElectronico] [nvarchar](150) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[fechaRegistro] [datetime] NULL,
	[activo] [bit] NULL,
	[dni] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbAsistencias] ON 

INSERT [dbo].[tbAsistencias] ([idAsistencia], [idUsuario], [idSucursal], [idObservacionAsistencia], [fecha], [horaEntrada], [horaSalida]) VALUES (1, 3, 1, 1, CAST(N'2025-04-28' AS Date), NULL, NULL)
INSERT [dbo].[tbAsistencias] ([idAsistencia], [idUsuario], [idSucursal], [idObservacionAsistencia], [fecha], [horaEntrada], [horaSalida]) VALUES (2, 3, 1, 2, CAST(N'2025-04-29' AS Date), NULL, NULL)
INSERT [dbo].[tbAsistencias] ([idAsistencia], [idUsuario], [idSucursal], [idObservacionAsistencia], [fecha], [horaEntrada], [horaSalida]) VALUES (3, 4, 2, 1, CAST(N'2025-04-28' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbAsistencias] OFF
GO
SET IDENTITY_INSERT [dbo].[tbCategorias] ON 

INSERT [dbo].[tbCategorias] ([idCategoria], [nombre], [idTipoProducto]) VALUES (1, N'FRAPUCCINNOS', 1)
INSERT [dbo].[tbCategorias] ([idCategoria], [nombre], [idTipoProducto]) VALUES (2, N'FRAPPÉS', 1)
INSERT [dbo].[tbCategorias] ([idCategoria], [nombre], [idTipoProducto]) VALUES (3, N'EXTRAS', 1)
SET IDENTITY_INSERT [dbo].[tbCategorias] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDesechosInsumos] ON 

INSERT [dbo].[tbDesechosInsumos] ([idDesechoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaDesecho], [motivo], [observaciones], [idIngresoInsumo]) VALUES (1, NULL, 3, CAST(2.00 AS Decimal(10, 2)), 3, CAST(N'2025-05-03' AS Date), N'vencimiento', N'Lote caducado', 3)
INSERT [dbo].[tbDesechosInsumos] ([idDesechoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaDesecho], [motivo], [observaciones], [idIngresoInsumo]) VALUES (2, NULL, 1, CAST(0.50 AS Decimal(10, 2)), 2, CAST(N'2025-05-03' AS Date), N'mal estado', N'Se derramó parte del saco', 1)
INSERT [dbo].[tbDesechosInsumos] ([idDesechoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaDesecho], [motivo], [observaciones], [idIngresoInsumo]) VALUES (3, NULL, 5, CAST(0.25 AS Decimal(10, 2)), 5, CAST(N'2025-05-03' AS Date), N'contaminación', N'Sabor alterado', 5)
SET IDENTITY_INSERT [dbo].[tbDesechosInsumos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbHorarios] ON 

INSERT [dbo].[tbHorarios] ([idHorario], [idUsuario], [diaSemana], [horaEntradaEsperada], [horaSalidaEsperada]) VALUES (1, 3, 1, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[tbHorarios] ([idHorario], [idUsuario], [diaSemana], [horaEntradaEsperada], [horaSalidaEsperada]) VALUES (2, 3, 2, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[tbHorarios] ([idHorario], [idUsuario], [diaSemana], [horaEntradaEsperada], [horaSalidaEsperada]) VALUES (3, 3, 3, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[tbHorarios] OFF
GO
SET IDENTITY_INSERT [dbo].[tbIngresosInsumos] ON 

INSERT [dbo].[tbIngresosInsumos] ([idIngresoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaCompra], [fechaVencimiento], [idProveedor], [lote], [observaciones]) VALUES (1, NULL, 1, CAST(5.00 AS Decimal(10, 2)), 2, CAST(N'2025-05-01' AS Date), NULL, 1, N'CG202505', N'Café tostado en grano')
INSERT [dbo].[tbIngresosInsumos] ([idIngresoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaCompra], [fechaVencimiento], [idProveedor], [lote], [observaciones]) VALUES (2, NULL, 2, CAST(200.00 AS Decimal(10, 2)), 1, CAST(N'2025-05-01' AS Date), NULL, 3, N'VD202505', N'Caja con 200 vasos')
INSERT [dbo].[tbIngresosInsumos] ([idIngresoInsumo], [idSucursal], [idInsumo], [cantidad], [idUnidad], [fechaCompra], [fechaVencimiento], [idProveedor], [lote], [observaciones]) VALUES (3, NULL, 3, CAST(10.00 AS Decimal(10, 2)), 3, CAST(N'2025-05-01' AS Date), CAST(N'2025-06-01' AS Date), 2, N'LT202505', N'Refrigerado, mantener frío')
SET IDENTITY_INSERT [dbo].[tbIngresosInsumos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbInsumos] ON 

INSERT [dbo].[tbInsumos] ([idInsumo], [nombre], [idUnidad], [tipoInsumo], [descripcion]) VALUES (1, N'Café en grano', 2, N'materia prima', N'Café Arábica Premium')
INSERT [dbo].[tbInsumos] ([idInsumo], [nombre], [idUnidad], [tipoInsumo], [descripcion]) VALUES (2, N'Vaso descartable 8oz', 1, N'empaque', N'Vaso térmico desechable')
INSERT [dbo].[tbInsumos] ([idInsumo], [nombre], [idUnidad], [tipoInsumo], [descripcion]) VALUES (3, N'Leche entera', 3, N'perecedero', N'Leche pasteurizada de vaca')
SET IDENTITY_INSERT [dbo].[tbInsumos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbObservacionesAsistencias] ON 

INSERT [dbo].[tbObservacionesAsistencias] ([idObservacionAsistencia], [descripcion]) VALUES (1, N'Asistencia normal')
INSERT [dbo].[tbObservacionesAsistencias] ([idObservacionAsistencia], [descripcion]) VALUES (5, N'Inasistencia injustificada')
INSERT [dbo].[tbObservacionesAsistencias] ([idObservacionAsistencia], [descripcion]) VALUES (4, N'Inasistencia justificada')
SET IDENTITY_INSERT [dbo].[tbObservacionesAsistencias] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProveedores] ON 

INSERT [dbo].[tbProveedores] ([idProveedor], [nombreEmpresa], [contacto], [telefono], [email]) VALUES (1, N'Café Perú S.A.', N'Carlos Méndez', N'987654321', N'ventas@cafeperu.com')
INSERT [dbo].[tbProveedores] ([idProveedor], [nombreEmpresa], [contacto], [telefono], [email]) VALUES (2, N'Lácteos del Sur', N'Juan Torres', N'912345678', N'ventas@lacteosur.com')
INSERT [dbo].[tbProveedores] ([idProveedor], [nombreEmpresa], [contacto], [telefono], [email]) VALUES (3, N'Empaques Express', N'Lucía Díaz', N'934567890', N'contacto@empaquesexpress.com')
SET IDENTITY_INSERT [dbo].[tbProveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[tbRoles] ON 

INSERT [dbo].[tbRoles] ([idRol], [nombreRol]) VALUES (1, N'Admin')
INSERT [dbo].[tbRoles] ([idRol], [nombreRol]) VALUES (3, N'Empleado')
INSERT [dbo].[tbRoles] ([idRol], [nombreRol]) VALUES (2, N'Encargado')
SET IDENTITY_INSERT [dbo].[tbRoles] OFF
GO
INSERT [dbo].[tbSucursales] ([idSucursal], [nombre]) VALUES (1, N'Buenisimo 1')
INSERT [dbo].[tbSucursales] ([idSucursal], [nombre]) VALUES (2, N'Buenisimo 2')
GO
INSERT [dbo].[tbTiposProductos] ([idTipoProducto], [nombre]) VALUES (1, N'BEBIDAS HELADAS')
INSERT [dbo].[tbTiposProductos] ([idTipoProducto], [nombre]) VALUES (2, N'BEBIDAS CALIENTES')
INSERT [dbo].[tbTiposProductos] ([idTipoProducto], [nombre]) VALUES (3, N'COMESTIBLES')
GO
SET IDENTITY_INSERT [dbo].[tbUnidades] ON 

INSERT [dbo].[tbUnidades] ([idUnidad], [nombre], [tipo], [abreviatura]) VALUES (1, N'Unidad', N'cantidad', N'un')
INSERT [dbo].[tbUnidades] ([idUnidad], [nombre], [tipo], [abreviatura]) VALUES (2, N'Kilogramo', N'peso', N'kg')
INSERT [dbo].[tbUnidades] ([idUnidad], [nombre], [tipo], [abreviatura]) VALUES (3, N'Litro', N'volumen', N'L')
SET IDENTITY_INSERT [dbo].[tbUnidades] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUsuarios] ON 

INSERT [dbo].[tbUsuarios] ([idUsuario], [idRol], [nombre], [apellido], [correoElectronico], [contrasena], [fechaRegistro], [activo], [dni]) VALUES (1, 1, N'Juan', N'Pérez', N'juan.perez@example.com', N'123', CAST(N'2025-05-07T12:01:45.780' AS DateTime), 1, N'12345678')
INSERT [dbo].[tbUsuarios] ([idUsuario], [idRol], [nombre], [apellido], [correoElectronico], [contrasena], [fechaRegistro], [activo], [dni]) VALUES (2, 2, N'María', N'López', N'maria.lopez@example.com', N'123', CAST(N'2025-05-07T12:01:45.780' AS DateTime), 1, N'87654321')
INSERT [dbo].[tbUsuarios] ([idUsuario], [idRol], [nombre], [apellido], [correoElectronico], [contrasena], [fechaRegistro], [activo], [dni]) VALUES (3, 3, N'Carlos', N'Gómez', N'carlos.gomez@example.com', N'123', CAST(N'2025-05-07T12:01:45.780' AS DateTime), 1, N'11223344')
SET IDENTITY_INSERT [dbo].[tbUsuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbInsumo__72AFBCC629F11287]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbInsumos] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbObserv__298336B65C663269]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbObservacionesAsistencias] ADD UNIQUE NONCLUSTERED 
(
	[descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbRoles__2787B00C501E15B3]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbRoles] ADD UNIQUE NONCLUSTERED 
(
	[nombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbUnidad__72AFBCC6649C98EE]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbUnidades] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbUsuari__D87608A79DAB8B89]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbUsuarios] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbUsuari__ED1E3B6E73E94BF8]    Script Date: 07/05/2025 01:15:44 p. m. ******/
ALTER TABLE [dbo].[tbUsuarios] ADD UNIQUE NONCLUSTERED 
(
	[correoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Observaciones] FOREIGN KEY([idObservacionAsistencia])
REFERENCES [dbo].[tbObservacionesAsistencias] ([idObservacionAsistencia])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Observaciones]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Sucursales] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Sucursales]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Usuarios]
GO
ALTER TABLE [dbo].[tbCategorias]  WITH CHECK ADD FOREIGN KEY([idTipoProducto])
REFERENCES [dbo].[tbTiposProductos] ([idTipoProducto])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idIngresoInsumo])
REFERENCES [dbo].[tbIngresosInsumos] ([idIngresoInsumo])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idInsumo])
REFERENCES [dbo].[tbInsumos] ([idInsumo])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbHorarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbHorarios] CHECK CONSTRAINT [FK_Horarios_Usuarios]
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idInsumo])
REFERENCES [dbo].[tbInsumos] ([idInsumo])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[tbProveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbMedidas]  WITH CHECK ADD FOREIGN KEY([idTipoMedida])
REFERENCES [dbo].[tbTiposMedidas] ([idTipoMedida])
GO
ALTER TABLE [dbo].[tbPrecios]  WITH CHECK ADD FOREIGN KEY([IdMedida])
REFERENCES [dbo].[tbMedidas] ([idMedida])
GO
ALTER TABLE [dbo].[tbPrecios]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[tbProductos] ([idProducto])
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[tbCategorias] ([idCategoria])
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD FOREIGN KEY([idTipoMedida])
REFERENCES [dbo].[tbTiposMedidas] ([idTipoMedida])
GO
ALTER TABLE [dbo].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[tbRoles] ([idRol])
GO
ALTER TABLE [dbo].[tbUsuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
