USE [DB_BUENISIMO]
GO
/****** Object:  Table [dbo].[tbAsistencias]    Script Date: 09/05/2025 02:17:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAsistencias](
	[idAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
	[idObservacionAsistencia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[horaEntrada] [datetime] NULL,
	[horaSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategorias]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[idTipoProducto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDesechosInsumos]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDesechosInsumos](
	[idDesechoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NULL,
	[idInsumo] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[fechaDesecho] [date] NOT NULL,
	[motivo] [varchar](100) NOT NULL,
	[observaciones] [text] NULL,
	[idIngresoInsumo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDesechoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHorarios]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHorarios](
	[idHorario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[diaSemana] [tinyint] NOT NULL,
	[horaEntradaEsperada] [time](7) NOT NULL,
	[horaSalidaEsperada] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbIngresosInsumos]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbIngresosInsumos](
	[idIngresoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NULL,
	[idInsumo] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[fechaVencimiento] [date] NULL,
	[idProveedor] [int] NULL,
	[lote] [varchar](50) NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idIngresoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbInsumos]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbInsumos](
	[idInsumo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[idUnidad] [int] NOT NULL,
	[tipoInsumo] [varchar](50) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMedidas]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMedidas](
	[idMedida] [int] IDENTITY(1,1) NOT NULL,
	[idTipoMedida] [int] NULL,
	[nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbObservacionesAsistencias]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbObservacionesAsistencias](
	[idObservacionAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idObservacionAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPrecios]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPrecios](
	[IdPrecio] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[IdMedida] [int] NULL,
	[Precio] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrecio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProductos]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProductos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[idCategoria] [int] NULL,
	[idTipoMedida] [int] NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProveedores]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombreEmpresa] [varchar](100) NOT NULL,
	[contacto] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRoles]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSucursales]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSucursales](
	[idSucursal] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTiposMedidas]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposMedidas](
	[idTipoMedida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTiposProductos]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposProductos](
	[idTipoProducto] [int] NOT NULL,
	[nombre] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUnidades]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUnidades](
	[idUnidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[abreviatura] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarios]    Script Date: 09/05/2025 02:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[apellido] [nvarchar](100) NULL,
	[correoElectronico] [nvarchar](150) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[fechaRegistro] [datetime] NULL,
	[activo] [bit] NULL,
	[dni] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Observaciones] FOREIGN KEY([idObservacionAsistencia])
REFERENCES [dbo].[tbObservacionesAsistencias] ([idObservacionAsistencia])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Observaciones]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Sucursales] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Sucursales]
GO
ALTER TABLE [dbo].[tbAsistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbAsistencias] CHECK CONSTRAINT [FK_Asistencias_Usuarios]
GO
ALTER TABLE [dbo].[tbCategorias]  WITH CHECK ADD FOREIGN KEY([idTipoProducto])
REFERENCES [dbo].[tbTiposProductos] ([idTipoProducto])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idIngresoInsumo])
REFERENCES [dbo].[tbIngresosInsumos] ([idIngresoInsumo])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idInsumo])
REFERENCES [dbo].[tbInsumos] ([idInsumo])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbDesechosInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbHorarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbHorarios] CHECK CONSTRAINT [FK_Horarios_Usuarios]
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idInsumo])
REFERENCES [dbo].[tbInsumos] ([idInsumo])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[tbProveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[tbSucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[tbIngresosInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbInsumos]  WITH CHECK ADD FOREIGN KEY([idUnidad])
REFERENCES [dbo].[tbUnidades] ([idUnidad])
GO
ALTER TABLE [dbo].[tbMedidas]  WITH CHECK ADD FOREIGN KEY([idTipoMedida])
REFERENCES [dbo].[tbTiposMedidas] ([idTipoMedida])
GO
ALTER TABLE [dbo].[tbPrecios]  WITH CHECK ADD FOREIGN KEY([IdMedida])
REFERENCES [dbo].[tbMedidas] ([idMedida])
GO
ALTER TABLE [dbo].[tbPrecios]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[tbProductos] ([idProducto])
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[tbCategorias] ([idCategoria])
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD FOREIGN KEY([idTipoMedida])
REFERENCES [dbo].[tbTiposMedidas] ([idTipoMedida])
GO
ALTER TABLE [dbo].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[tbRoles] ([idRol])
GO
ALTER TABLE [dbo].[tbUsuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
