
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!--=============== CSS ===============-->

    <link rel="stylesheet" href="~/source/css/login.css">


    <title>Responsive login form</title>

</head>

<body>
    <style>
        .background-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Hace que el video cubra toda la pantalla */
            z-index: -1; /* Envía el video detrás de todo el contenido */
        }
    </style>
    
    <video autoplay loop muted playsinline class="background-video">
        <source src="@Url.Content("~/source/img/font.mp4")" type="video/mp4">
        Tu navegador no soporta videos.
    </video>

    <div class="container">
        <div class="login">
            <div class="login__content">
                <img class="login__img" src="~/source/img/logo.png" alt="Login image" />


                <form class="login__form" method="post" action="@Url.Action("login", "Autenticacion")">
                    <div>
                        <h1 class="login__title">
                            <span>Welcome</span> Back
                        </h1>

                        <p class="login__description">
                            Welcome! Please login to continue.
                        </p>
                    </div>

                    <div>
                        <div class="login__inputs">
                            <div>
                                <label for="email" class="login__label">Email</label>
                                <input class="login__input" type="email" id="email" name="usuario" placeholder="Enter your email address" required />
                            </div>

                            <div>
                                <label for="password" class="login__label">Password</label>
                                <div class="login__box">
                                    <input class="login__input" type="password" id="password" name="contraseña" placeholder="Enter your password" required />
                                    <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="login__check">
                            <label class="login__check-label" for="check">
                                <input class="login__check-input" type="checkbox" id="check" />
                                <i class="ri-check-line login__check-icon"></i>
                                Remember meee
                            </label>
                        </div>
                    </div>

                    <div>
                        <div class="login__buttons">
                            <button type="submit" class="login__button">Log In</button>
                            <button type="button" class="login__button login__button-ghost"
                                    onclick="location.href='@Url.Action("Registrar", "Autenticacion")'">
                                Sign Up
                            </button>
                        </div>

                        <a class="login__forgot" href="#">Forgot Password?</a>
                    </div>
                </form>



            </div>
        </div>
    </div>

    <!--=============== MAIN JS ===============-->
    <script src="~/source/js/login.js"></script>
</body>
</html>
